html{
    height:90%;
}
body{
    height:90%;
}
main{
    height: 100%;
}
#results{
    height: 60%;
    overflow: scroll;   
}
.result-column{
    padding-right: 2px;
    padding-left: 2px;
}
img{
    width:100%;
    padding-top: 2px;
    padding-bottom: 2px;
}
.logo{
    width:100px;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #333;
  width: 100%; 
  padding-top:1px;
  float:bottom;
  height:30px;
}

.footer a{
  float: left;
}

.btn {
  margin-top: 3px;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 0px;
  width: 13%;
}

#backtotop {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#backtotop:hover {
  background-color: #555;
}