html{
    height:100%;
}
body{
    height:90%;
}
main{
    height: 100%;
}
#results{
    height: 60%;
    overflow: scroll;
    
}
.col-md-3{
    padding-right: 2px;
    padding-left: 2px;
}

img{
    width:100%;
}